
#header{
    background-color:#f1efee;
    border:antiquewhite;
    margin:inherit;
    padding:initial;
}


h1 {
   color: #4caf50;
   text-align: center;

}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family:cursive;
    font-size: 16px;
    cursor: pointer;
}

#left {
    float: center;
    margin: 0 0 0 0;
}

#right {
    float: center;
    margin: 0 0 0 0 0;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background: none;
    height:40px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;

}
a{
    text-decoration:none;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}
.middle{
  margin-top: 1000px;
  margin: auto;
  width: 50%;
  padding: 10px;
}
#wrapper{
  margin-top:100px;
}
